<form action="/genres/<%= @genre.id %>" method="post">
  <input type="hidden" name="_method" value="patch" />
  <input type="text" name="name" placeholder="Name" value="<%= @genre.name %>"/>
  <div>
    <% @books.each do |b| %>
    <input type="checkbox" id="<%= b.id %>" name="book_ids" value="<%= b.id %>"
      <% if @genre.book_ids.include?(b.id) %>checked<% end %>/>
    <label for="<%= b.id %>"><%= b.title %></label>
    <br />
    <% end %>
  </div>
  <input type="submit" value="submit" />
</form>

<form action="/genres/<%= @genre.id %>" method="post">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="delete" />
</form>
