<% if flash[:error] %>
  <ul>
  <% flash[:error].each do |e| %>
    <li><%= e %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for @pastry do |f| %>
  <%= f.label "Name: " %>
  <%= f.text_field :name %>
  <br />
  <%= f.label "Type: " %>
  <%= f.text_field :pastry_type %>
  <br />
  <%= f.label "Rating: " %>
  <%= f.text_field :rating %>
  <br />
  <%= f.submit %>
<% end %>
