<p><%= @artist.name %> | <%= @artist.hometown %></p>

<p>Songs List</p>

<ul>
  <% @artist.songs.each do |song| %>
    <li><a href="/songs/<%= song.id %>"><%= song.name %></a></li>
  <% end %>
</ul>
<hr/>
<a href="/artists/<%= @artist.id %>/edit">Edit</a>
<form action="/artists/<%= @artist.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete"/>
</form>
